
<!-- <ts-main-navbar></ts-main-navbar> -->


<div style="margin-top:100px" class="container">

	<div class="row">
		<div class="col-md-4 col-md-offset-2">
			<a style='font-size:30px;width:380px' class="btn btn-large btn-success" ui-sref="task" href="/task"> <i  class="icon-tasks icon-4x pull-left"></i>
				<span style='font-size:60px'>task</span>
			</a>
		</div>
		<div style="" class="col-md-4 ">
			<a style='font-size:30px;width:380px' class="btn btn-large btn-danger" href="#"> <i  class="icon-bell-alt icon-4x pull-left"></i>
				<span style='font-size:60px'>msg</span>
			</a>
		</div>
	</div>
	<div class="row" style="margin-top:20px">
	<div class="col-md-4 col-md-offset-2">
		<a style='font-size:30px;width:380px' class="btn btn-large btn-info" href="#">
			<i  class="icon-user icon-4x pull-left"></i>
			<span style='font-size:60px'>me</span>
		</a>
	</div>
	<div style="" class="col-md-5 ">
		<a style='font-size:30px;width:380px' class="btn btn-large btn-primary" href="#">
			<i  class="icon-calendar icon-4x pull-left"></i>
			<span style='font-size:60px;margin-left:-22px'>schedule</span>
		</a>
	</div>
	</div>



</div>

<div ts-circle-menu></div>

